body {
  background-image: url('./images/herculesCorona.jpg');
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px; /* Espaço entre os blocos */
  height: 95vh; /* Ajuste a altura conforme necessário */

}

/* Estilo para os contêineres */
.container {
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
background-color: transparent;
}

/* Estilo para os blocos */
.block {
background-color: #cbc8c8;
border-radius: 25px;
height: 95%;
padding-top: 10px;
}

h1 {
color: rgb(14, 10, 64); 
text-align: center;
}
/* 
#launchResourceData {
background-color: black;
}

#trajectoryData {
background-color: black;
}

#orbitData {
background-color: black;
}

#mainData {
background-color: black;
} */
