body {
    background-image: url('./images/herculesCorona.jpg');
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
    display: grid;
    padding-left: 10px;

  }

form {
    display: grid;
    align-items: center;
}

input {
    font-family: 'Share Tech Mono', monospace;
    width:fit-content;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    height: 30px;
    text-align: center;
}

button {
  background-image: url('./images/button.png');
  background-size: cover;
  background-color: transparent;
  border-color: transparent;
  margin-top: 20px;
  width: 150px;
  height: 80px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  color: #fff;
  align-items: center;
}

  h2, h3, label {
    color: #fff;
}

h1 {
  color: #ffffff; 
  text-align: center;
}